@import "./Styles.less";

.DialogueScreen {
    padding: 1em;

    .Portrait {
        height: 30em;
        margin: auto;
        margin-bottom: 1em;
        display: block;
    }

    .Title {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .Story {
        .Paragraph {
            display: block;
            margin-bottom: 1em;

            color: @black;
            transition-property: color;
            transition-duration: 0s;
            &:not([isCurrentPage]) {
                color: #AAA;
            }

            opacity: 0;
            animation-name: fadein;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }

        .Choice {
            cursor: pointer;
            &:hover {
                color: @red;
            }

            opacity: 0;
            animation-name: fadein;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}
