@import "./Styles.less";

.OverworldScreen {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .Controls {
        width: 18em;
        padding: 4em 1em;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;

        p {
            display: block;
            margin: 1em 0em;

            &[link]:defined {
                cursor: pointer;
                color: @red;
                text-decoration: underline;

                &:hover {
                    color: red;
                }
            }
        }

        .Compass {
            cursor: pointer;

            img {
                width: 120px;
                height: 120px;
                display: block;
            }

            map {
                width: 120px;
                height: 120px;
            }
        }
    }

    .World {
        width: 7em;
        height: 7em;
        font-size: 4em;
        position: relative;

        background-color: hotpink;
        border-width: 10px;
        border-style: inset;
        border-color: #AAA;
        box-sizing: content-box;

        .Adventurer {
            top: 3em;
            left: 3em;
            width: 1em;
            height: 1em;
            z-index: 20;
            position: absolute;
            background-color: red;
        }

        .Character {
            z-index: 15;
            width: 1.5em;
            height: 1.5em;
            margin-top: -0.25em;
            margin-left: -0.25em;
            position: absolute;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .Terrain {
            width: 7em;
            height: 7em;
            z-index: 10;
            position: relative;
            .TerrainTile {
                width: 1em;
                height: 1em;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                // image-rendering: pixelated;
            }
        }
    }
}
