@import "./Styles.view.less";

* {
    margin: 0px;
    padding: 0px;

    cursor: default;
    box-sizing: border-box;

    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // -o-user-select: none;
    // user-select: none;
}

body {
    padding: 1em;

    color: @black;
    font-family: comfortaa;
    background-color: @white;

    img {
        width: 5em;
    }
}

.Story {
    .Paragraph {
        margin-bottom: 1em;

        color: @black;
        transition-property: color;
        transition-duration: 0s;
        &:not([isCurrentPage]) {
            color: #AAA;
        }

        opacity: 0;
        animation-name: fadein;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .Choice {
        cursor: pointer;
        &:hover {
            color: @red;
        }

        opacity: 0;
        animation-name: fadein;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

/////////////////
// Animations //
///////////////

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

////////////
// Fonts //
//////////

@font-face {
    font-weight: 400;
    font-family: "comfortaa";
    src: url("../fonts/comfortaa.ttf") format("truetype");
}
