@import "./Styles.less";

* {
    margin: 0px;
    padding: 0px;

    cursor: default;
    box-sizing: border-box;

    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // -o-user-select: none;
    // user-select: none;
}

html, body, .View {
    width: 100%;
    height: 100%;
}

body {
    color: @black;
    background-color: @white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.View {
    .Box {
        width: 860px;
        height: 100%;
        padding: 0em;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: #EEE;

        &[effect=blink] {
            animation-name: blink;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        &[effect=hurt] {
            animation-name: hurt;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        .Flex {
            flex: 1;
        }

        .Banner {
            width: 100%;
            &.Header {
                margin-bottom: 3em;
            }
            &.Footer {
                margin-top: 3em;
            }
        }
    }
}

.StartButton {
    color: @red;
    cursor: pointer;

    &:hover {
        color: red;
    }
}

/////////////////
// Animations //
///////////////

@keyframes blink {
    0% {background-color: hotpink;}
    10% {background-color: hotpink;}
    100% {background-color: transparent;}
}

@keyframes hurt {
    0% {background-color: #5D2CD3;}
    10% {background-color: #5D2CD3;}
    100% {background-color: transparent;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

////////////
// Fonts //
//////////

@font-face {
    font-weight: 400;
    font-family: "pirata";
    src: url("../fonts/pirata.ttf") format("truetype");
}
